h1{
    color: white;
    background-color: black;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
h2{
    color: grey;
    background-color: black;
    padding: 30px;
    margin: 15;
    text-align: center;
}